{% extends "layouts.html" %}

  {% block content %}
    <main>
      <div class="row">
        <div class="col-md-4">
          <section class="content">
            <p>Discover places near you.</p>
            <a href="#" class="btn btn-lg btn-primary">Sign Up</a>
            <a href="#" class="btn btn-lg btn-info">Learn More</a>
          </section>
        </div>
        <div class="col-md-8">
          <section class="device">
            <img src="../static/img/device.png" alt="" class="img-responsive">
          </section>
        </div>
      </div>
    </main>
  {% endblock %}
