<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Learning Flask</title>
  <link rel="stylesheet" href="{{ url_for('static' ,filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static' ,filename='css/main.css')}}">
</head>
<body>
<div class="container">
  <div class="row">
    <header>
      <h1 class="title">Learning Flask</h1>
    </header>

  {% block content %}
  {% endblock %}


  </div>
  <!-- /.row -->
</div>
<!-- /.container -->



 <script src="{{ url_for('static' ,filename='js/jquery.min.js')}}"></script> 
 <script src="{{ url_for('static' ,filename='js/bootstrap.min.js')}}"></script> 
</body>
</html>    